*{
    margin: 0;
    padding: 0;
}
.dashboard{
    display: flex;
}

 .nav-links{
    width: 15%;
    background-color: blue;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}