body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color:gainsboro;
    font-family: 'Space Grotesk', sans-serif;
   
}
.debtors{
    font-family:'PT Sans';
}
.overall-cont{
    width: 500px;
    margin: 85px auto;
    background-color: white;
    border-radius: 1%;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23)
}
.logo-cont{
    padding-top: 20px;
    display: flex;
    justify-content: center;
}
img{
    width: 82.9px;
    height: 82.9px;
}
h1, p{
    text-align:center;
    margin: 16px auto;
}
.account{
    color:grey;
}
form{
    margin: 0 auto;
    width: 23%;
    padding-bottom: 20px;
    max-width:500px;
    min-width:300px;
}
label{
    display: block;
    margin:20px 0;
    color: #3A3A3A;

}
input{
    display: block;
    padding: 8px;
    margin: 10px 0;
    width: 250px;
    height: 30px; 
    border:1px solid rgba(0, 0, 0, 0.24);
    border-radius: 4px;
}
#sign:hover{
    background-color: #1B264F;
    color:white;
}
.terms{
    padding:20px 0;
}

fieldset{
    border: none;
    
}
#sign{
    width:110px;
    border-radius: 10px;
    margin-left: 80px;
    border:1px solid rgb(109, 109, 171);
   
}

a{
    text-decoration: none;
}