<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="../static/css/aboutus.css">
    <link rel="stylesheet" href="../static/css/footer.css">
    <link rel="stylesheet" href="../static/css/navbar.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap" rel="stylesheet">
</head>    
<body>
    <nav>
      <div class="logo">
        <img src="../static/images/Frame 9.png" alt="navbar logo" />
      </div>
      <ul class="nav-links" id="navLinks">
        <li><a href="#">Home</a></li>
        <li><a href="#">About Us</a></li>
        <li><a href="#">FAQs</a></li>
        <li><a href="#">Contact Us</a></li>
      </ul>
      <div class="buttons" id="btn">
        <a href="#signup" class="buttons-signup">Sign Up</a>
        <a href="#login" class="buttons-login">Log In</a>
      </div>
      <!-- Open menu button -->
      <button class="hamburger open" id="hamburger_openMenu">
        <span class="top"></span>
        <span class="middle"></span>
        <span class="down"></span>
      </button>
      <!-- Close menu button -->
      <button class="hamburger close" id="hamburger_closeMenu">
        <span class="top"></span>
        <span class="middle"></span>
        <span class="down"></span>
      </button>
    </nav>
    <section id="vision">
        <div class="header">
            <h2>About Us</h2>
            <p>Providing School and Debt Management Solution.</p>
        </div>
    </section>
    <section class="vision">
       <div class="top">
        <div class="row_1">
            <div class="header1">
                <h2>Our Vision</h2>
            </div>
        </div>
            <div class="para">
                <p>My Debtors was established with the intention of serving as a link between different schools and their owing students in order to accomplish the goals of saving schools from admitting student debtors and assisting students in keeping track of how much they owe.
                   </p><br>
                   <p> According to a study done in December 2020, 75% of students dropped out of more than 3500 schools because they couldn't track their payment status and some weren't even aware.
                    </p><br>
                   <p> By keeping schools informed of their payment status, we have also assisted them in managing their cash flow and boosted student confidence.
                    </p><br>
                   <p> At My Debtors, we think that no school should have to close because of student debt.
                </p>
            </div>
        </div>
        <div class="img">
            <img src="../static/images/team1.png" alt="">
        </div>
    </section>
    <div id="line">
       <img src="../static/images/Line3.png" alt="">
    </div>
    <section id="approach">
        <div class="img">
            <img src="../static/images/team2.png" alt="">
        </div>
        <div class="approach">
            <h2>Our Approach</h2>
            <div class="p">
                <p>Our vision is to build a safe and welcoming platform for all our users (schools and parents), where nobody will be judged but fully accepted. We strive to create better and easier methods of accessing our platform and also ensure parties involved are satisfied throughout the transaction process.</p><br>
                   <p> As we move towards our goal of being a world-class platform, we will ensure that nothing but excellence will be delivered. We strongly believe that by 2030, cases of students debts causing the shutdown of schools will be reduced and the knowledge of parents being aware of how much they owe will be increased.</p><br>
                   <p> We have so far resolved over 1,670 instances with schools smiling and being able to recover every penny of both new and old debts thanks to our great willingness to assist both schools and student. </p><br>
             </p>
            </div>
        </div>
       
    </section> 
    <div id="line">
       <img src="../static/images/Line3.png" alt="">
   </div>
    <section id="process">
        <div class="process">
            <h2>Our Process</h2>
            <p> The first step to having a great experience with us is to Register on the platform. Step one is to Login/Register to have access to our database, then go through the verification process.

              <p>  Step two is to begin to post new data about a debtor or view a debtor, you can also send debtors a debt notification email which can be contended by the debtors.</p><br>
               <p> Finally, the  Comment feature! You get to comment on posts by registered schools. Your entire journey on ‘My Debtor’ platform is going to be an exciting one. </p><br>
              <p>  Students have also expressed gratitude to us for enabling them to understand their debts and make payments.</p><br>
               <p> From the start of their agreement until its conclusion, we make sure that there is a good relationship between the schools and the students.
                
                Register today!</p>
        </div>
        <div class="img">
            <img src="../static/images/team3.png" alt="">
        </div>
    </section>
    <section id="newsletter">
        <h4>Register on Our Platform</h4>
        <div class="form">
           <div>
            <input type="text" placeholder="">
            <button class="normal">Suscribe</button>
          </div>
          <div><button type="submit">Sign Up</button></div>
        </div>
    </section>
     <footer>
      <div class="footer-logo_nav">
        <div class="footer-logo">
          <img src="..static/images/Group 5.png" alt="Logo footer" />
        </div>

        <div class="footer-nav">
          <div class="footer-nav_navlinks">
            <h3>Navigation</h3>
            <a href="#">Home</a>
            <a href="#">Products</a>
            <a href="#">Profile</a>
            <a href="#">Contact</a>
          </div>
          <div class="footer-nav_navlinks">
            <h3>About Us</h3>
            <a href="#">Our Story</a>
            <a href="#">Designers</a>
            <a href="#">Press</a>
            <a href="#">Sustainability</a>
          </div>
          <div class="footer-nav_navlinks">
            <h3>Support</h3>
            <a href="#">FAQs</a>
            <a href="#">Care gide</a>
            <a href="#">Info</a>
            <a href="#">Documentation</a>
          </div>
          <div class="footer-nav_navlinks">
            <h3>Contact Us</h3>
            <p>+12-234-386</p>
            <p>+23-567-386</p>
          </div>
        </div>
      </div>
    </footer>
    <div class="footer-footer">
      <p class="footer-copyright">&copy; 2022 All Rights Reserved</p>
      <div class="privacy_terms_discl">
        <a href="#">Privacy</a>
        <a href="#" class="terms">Terms and Conditions</a>
        <a href="#">Disclaimer</a>
      </div>
    </div>
     <script defer src="../static//scripts/navbar.js"></script>

</body>
</html>
