
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{%static 'css/footer.css' %}">
</head>
<body>
    <nav>
        <div class="logo">
          <img src="../static/images/Frame 9.png" alt="navbar logo" />
        </div>
        <ul class="nav-links" id="navLinks">
          <li><a href="#">Home</a></li>
          <li><a href="#">About Us</a></li>
          <li><a href="#">FAQs</a></li>
          <li><a href="#">Contact Us</a></li>
        </ul>
        <div class="buttons" id="btn">
          <a href="{% url 'register'%}" class="buttons-signup">Sign Up</a>
          <a href="#login" class="buttons-login">Log In</a>
        </div>
        <!-- Open menu button -->
        <button class="hamburger open" id="hamburger_openMenu">
          <span class="top"></span>
          <span class="middle"></span>
          <span class="down"></span>
        </button>
        <!-- Close menu button -->
        <button class="hamburger close" id="hamburger_closeMenu">
          <span class="top"></span>
          <span class="middle"></span>
          <span class="down"></span>
        </button>
      </nav>
      {%block content%}
      {%endblock content%}

      <footer>
        <div class="footer-logo_nav">
          <div class="footer-logo">
            <img src="{% static 'images/Group 5.png'%}" alt="Logo footer" />
          </div>
  
          <div class="footer-nav">
            <div class="footer-nav_navlinks">
              <h3>Navigation</h3>
              <a href="#">Home</a>
              <a href="#">Products</a>
              <a href="#">Profile</a>
              <a href="#">Contact</a>
            </div>
            <div class="footer-nav_navlinks">
              <h3>About Us</h3>
              <a href="#">Our Story</a>
              <a href="#">Designers</a>
              <a href="#">Press</a>
              <a href="#">Sustainability</a>
            </div>
            <div class="footer-nav_navlinks">
              <h3>Support</h3>
              <a href="#">FAQs</a>
              <a href="#">Care guide</a>
              <a href="#">Info</a>
              <a href="#">Documentation</a>
            </div>
            <div class="footer-nav_navlinks">
              <h3>Contact Us</h3>
              <p>+12-234-386</p>
              <p>+23-567-386</p>
            </div>
          </div>
        </div>
      </footer>
      <div class="footer-footer">
        <p class="footer-copyright">&copy; 2022 All Rights Reserved</p>
        <div class="privacy_terms_discl">
          <a href="#">Privacy</a>
          <a href="#" class="terms">Terms and Conditions</a>
          <a href="#">Disclaimer</a>
        </div>
      </div>
</body>
</html>