<!DOCTYPE html>
{%load static%}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/dashboard.css'%}" />
    <link rel="stylesheet" href="{% static 'css/posts.css'%}">
    <script defer src="../static/scripts/dashboard.js"></script>
    <title>Posts</title>
  </head>
  <body>
    <div id="comment-modal">
        <div class="comment-cont">
            <a href="{%url 'post'%}"><img src="{%static 'images/cancel (4).png'%}" alt=""></a>
        <h3>Comments</h3>
            {%if comments is not None%}
            {%for comment in comments%}
          <div class="comment">
            <h4>Author: {{comment.author}}</h4>
            <span>{{comment.content}}</span>
          </div>
          {%endfor%}
          {%endif%}
          {%if not comments%}
          <p>There are no comments</p>
          {%endif%}
        
        </div>
      </div>
    <!-- Open menu button -->
    <button class="hamburger open" id="hamburger_openMenu">
      <span class="top"></span>
      <span class="middle"></span>
      <span class="down"></span>
    </button>
    <!-- Close menu button -->
    <button class="hamburger close" id="hamburger_closeMenu">
      <span class="top"></span>
      <span class="middle"></span>
      <span class="down"></span>
    </button>
    <div class="dashboard-container">
      <!-- SIDE NAVBAR -->
      <div class="side-navbar" id="sideNavbar">
        <div class="logo">
          <img src="{% static 'images/Frame 9.png'%}" alt="my debtors logo" />
        </div>
        <ul class="navlink" id="navlinks">
         {%if check%} <li class="">
            <img
              src="{%static 'images/Vector(2).png'%}"
              alt="dashboard"
              class="dashboard-logo" />
            <a href="{%url 'dashboard'%}">Dashboard</a>
          </li>{%endif%}
          <li class="active">
            <img src="{%static 'images/newspaper-folded.png'%}" alt="feed" />
            <a href="{%url 'post'%}">Feed</a>
          </li>
          <li>
            <img src="{%static 'images/Vector(1).png'%}" alt="settings" />
            <a href="#">Settings</a>
          </li>
        </ul>
        <div class="logout">
          <img src="{%static 'images/ic_sharp-log-out.svg'%}" alt="logout" />
          <a href="{%url 'logout'%}">Log Out</a>
        </div>
      </div>
      <!-- DASHBOARD VIEW -->
      <div class="dashboard-view">
        <div class="dashboard-view_top">
          <!-- WELCOME SECTION (LEFT) -->
          <div class="welcome-section">
            <p>Welcome!!</p>
           {%if school%} <h3>{{school.schoolname}}</h3>{%endif%}
            <h3>{{debtor.full_name}}</h3>
            <div class="post-cont">
                <div class="add-student add">
                    <a href="{%url 'create-post'%}" class="add-student">Add Post</a>
        
                  </div>
                  {%for debt in debts%}
                  <div id="posts">

                    <div class="school"><span><img src="{%static 'images/school.png'%}" alt=""></span> <p>{{debt.Author}}</p></div>
                    <span>{{debt.content}}</span>
                    <div class="buttons">
                        <a href="#"><button>View Comments</button></a>
                        {%if not check%}<a href="#"><button>Contend</button></a>{%endif%}
                        <a href="#"><button>View Details</button></a>
                        <a href="{% url 'delete' debt.id%}"><button>Delete</button></a>
                    </div>
                    <div class="comments">
                        <form action="{%url 'comment' debt.id%}" method="POST">
                            {%csrf_token%}
                            <textarea name="comment" id="" cols="30" rows="10" placeholder="Add comment"></textarea>
                            <button type="submit">Comment</button>
                        </form>
                    </div>
                </div>
                  {%endfor%}
              </div>
          </div>
        </div>
      </div>
      </div>
        </body
  </html>