<!DOCTYPE html>
{%load static%}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/dashboard.css'%}" />
    <link rel="stylesheet" href="{% static 'css/posts.css'%}">
    <script defer src="../static/scripts/dashboard.js"></script>
    <title>Contends List</title>
  </head>
  <body>
    <!-- Open menu button -->
    <button class="hamburger open" id="hamburger_openMenu">
      <span class="top"></span>
      <span class="middle"></span>
      <span class="down"></span>
    </button>
    <!-- Close menu button -->
    <button class="hamburger close" id="hamburger_closeMenu">
      <span class="top"></span>
      <span class="middle"></span>
      <span class="down"></span>
    </button>
    <div class="dashboard-container">
      <!-- SIDE NAVBAR -->
      <div class="side-navbar" id="sideNavbar">
        <div class="logo">
          <img src="{% static 'images/Frame 9.png'%}" alt="my debtors logo" />
        </div>
        <ul class="navlink" id="navlinks">
         {%if check%} <li class="">
            <img
              src="{%static 'images/Vector(2).png'%}"
              alt="dashboard"
              class="dashboard-logo" />
            <a href="{%url 'dashboard'%}">Dashboard</a>
          </li>{%endif%}
          <li >
            <img src="{%static 'images/feed.png'%}" alt="feed" />
            <a href="{%url 'post'%}">Feed</a>
          </li>
          <li class="active">
            <img src="{%static 'images/content.png'%}" alt="settings" />
            <a href="{%url 'listcontend'%}">Contends</a>
          </li>
        </ul>
        <div class="logout">
          <img src="{%static 'images/ic_sharp-log-out.svg'%}" alt="logout" />
          <a href="{%url 'logout'%}">Log Out</a>
        </div>
      </div>
      <!-- DASHBOARD VIEW -->
      <div class="dashboard-view">
        <div class="dashboard-view_top">
          <!-- WELCOME SECTION (LEFT) -->
          <div class="welcome-section">
            <p>Welcome!!</p>
            <h3>{{school.schoolname}}</h3>

        </div>
        
      </div>
      </div>
      <div class="contends-cont">
        <h2>Contends Made By Students</h2>
        {%if not contends%}<p>No contends made</p>{%endif%}
        {%if contends%}
        {%for contend in contends%}
        <div class="contends">
            <h3>Contend Title: {{contend.title}}</h3>
            <p>Guardian Name : {{debtor}}</p>
            <p>{{contend.content}}</p>
        </div>
        {%endfor%}
        {%endif%}
    </div>
      <script defer src="{%static 'scripts/dashboard.js'%}"></script>
    </body>
  </html>