<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/register.css'%}" />
    <title>Contend</title>
  </head>
  <body>
    <div class="container">
      <div class="design-bar">

      </div>
      <div class="form-bar">
        <div class="form-cont">
            <p style="text-align: center;"><img src="{% static 'images/Frame 9.png'%}" alt="" height="50px"></p>
            <h3>Contend Your Debt Info</h3>
          {% if messages %} {% for message in messages %}
          <p
            {%
            if
            message.tags
            %}
            class="messages {{ message.tags }}"
            {%
            endif
            %}
          >
            {{ message }}
          </p>
          {%endfor %} {%endif%}
          <div class="form-container">
            <form action="" method="POST" class="form school-form">
              {%csrf_token%}  {{form.as_p}}
              <button type="submit">Post Contend</button>
              <p id="terms-cond">Retun Home? <a href="{%url 'dashboard'%}" >Dashboard</a></p>

          </div>
        </div>
      </div>
    </div>
  </body>

</html>
