<!DOCTYPE html>
{%load static%}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/dashboard.css'%}" />
   
    <title>Dashboard</title>
  </head>
  <body>
    <!-- Open menu button -->
    <button class="hamburger open" id="hamburger_openMenu">
      <span class="top"></span>
      <span class="middle"></span>
      <span class="down"></span>
    </button>
    <!-- Close menu button -->
    <button class="hamburger close" id="hamburger_closeMenu">
      <span class="top"></span>
      <span class="middle"></span>
      <span class="down"></span>
    </button>
    <div class="dashboard-container">
      <!-- SIDE NAVBAR -->
      <div class="side-navbar" id="sideNavbar">
        <div class="logo">
          <img src="{% static 'images/Frame 9.png'%}" alt="my debtors logo" />
        </div>
        <ul class="navlink" id="navlinks">
          <li class="active">
            <img
              src="{%static 'images/Vector(2).png'%}"
              alt="dashboard"
              class="dashboard-logo" />
            <a href="{%url 'dashboard'%}">Dashboard</a>
          </li>
          <li>
            <img src="{%static 'images/Icon.svg'%}" alt="feed" />
            <a href="{%url 'post'%}">Feed</a>
          </li>
          <li>
            <img src="{%static 'images/Vector(1).png'%}" alt="settings" />
            <a href="{%url 'listcontend'%}">Contends</a>
          </li>
        </ul>
        <div class="logout">
          <img src="{%static 'images/ic_sharp-log-out.svg'%}" alt="logout" />
          <a href="{%url 'logout'%}">Log Out</a>
        </div>
      </div>
      <!-- DASHBOARD VIEW -->
      <div class="dashboard-view">
        <div class="dashboard-view_top">
          <!-- WELCOME SECTION (LEFT) -->
          <div class="welcome-section">
            <p>Welcome!!</p>
            <h3>{{school.schoolname}}.</h3>
          </div>
          <!-- SEARCH SECTION (MIDDLE) -->
          <div class="search-section">
            <img src="{%static 'images/MagnifyingGlass.png'%}" alt="search icon" />
            <input type="text" placeholder="Search schools" />
          </div>
        </div>
        <!-- TABLE SECTION -->
        <div class="add-student">
          <a href="{%url 'create-post'%}" class="add-student">Add Student</a>
        </div>
        <table>
          <tr>
            <th>S/N</th>
            <th>NAME</th>
            <th>DEBT</th>
            <th>AMOUNT PAID</th>
            <th>STATUS</th>
            <th>DELETE</th>
          </tr>
          {%for info in infos%}
          <td>1.</td>
          <td>{{info.debtor_name}}</td>
          <td>{{info.debt_amount}}</td>
          <td>{{info.amount_paid}}</td>
          <td class="paid">{{info.debt_status}}</td>
          <td>
            <a href="{%url 'delete' info.id%}">
              <img
              src="{%static 'images/delete (1).png' %}"
              alt="edit icon" />
            </a>
          </td>
        </tr>
        {%endfor%}
         
        </table>
      </div>
    </div>
  </body>
</html>

            </td>
          </tr>
         
        </table>
      </div>
    </div>
    <script defer src="{%static 'scripts/dashboard.js'%}"></script>
  </body>
</html> 