<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAQ</title>
    <link rel="stylesheet" href="faq.css">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@400;700&family=Space+Grotesk:wght@400;500&display=swap" rel="stylesheet">
</head>
<body>
    <nav>
        <div class="logo-wrapper">
            <img src="/debtors-images/Logo_object_frame.png" alt="logo" class="logo">
            <img src="/debtors-images/My Debtors.png" alt="debtors" class="debtors-img" >

        </div>        
        <div class="home"><a href="#">Home</a></div>
        <div class="about"><a href="#">About Us</a></div>
        <div class="faq"><a href ="#" target="_blank" >FAQ</a></div>
        <div class="contact"><a href="#">Contact Us</a></div>
        <button>Sign Up</button>
        <button>Log in</button>

    </nav><hr>
    <section>
        <h2>Have a <span class="question">Question?</span></h2>
    <h2>Look here</h2>
    <div>
        <input type="text" placeholder="Type your question here">
        <img src="/debtors-images/Vector.png" alt="vector" class="vector">
    </div>
    </section>

    <footer>
        <div class="logo-wrapper1">
            <img src="/debtors-images/Ellipse 1.png" alt="logo" class="logo-footer1" width="40px">
        </div>
        <div class="logo-wrapper2">
            <img src="/debtors-images/Ellipse 2.png" alt="logo" class="logo-footer2" width="30px">
        </div>
        <div class="debtor1-wrapper">
            <img src="/debtors-images/My Debtors1.png" alt="debtors" class="debtor-img" >
        </div>
        <div class="navigation">
            <h3>Navigation</h3>
            <p>Home</p>
            <p>Products</p>
            <p>Profile</p>
            <p>Contact</p>
        </div>
        <div class="about-footer">
            <h3>About Us</h3>
            <p>Our story</p>
            <p>Designer</p>
            <p>Press</p>
            <p>Sustainability</p>
        </div>
        <div class="support">
            <h3>Support</h3>
            <p>FAQs</p>
            <p>Care guide</p>
            <p>Info</p>
            <p>Documentation</p>
        </div>
        <div class="contact-footer">
            <h3>Contact Us</h3>
            <p>+12-234-386</p>
            <p>+23-567-386</p>
        </div>
    </footer><hr class="horizon">
    <div class="footer2">
        <div class="right">
            <p>@All Right Reserved</p>
        </div>
    
        <div>
            <p>Privacy <img src="/debtors-images/Line 14.png" height="25px" class="vertial-line"></p>
        </div>
         <div class="terms">
            <p>Terms and Conditions <img src="/debtors-images/Line 14.png" height="25px" class="vertial-line"></p>
        </div>
        <div class="disclaimer">
            <p>Disclaimer</p>
        </div>

        
    </div>
</body>
</html>