<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/footer.css" />
    <title>Footer</title>
  </head>
  <body>
    <footer>
      <div class="footer-logo_nav">
        <div class="footer-logo">
          <img src="..static/images/Group 5.png" alt="Logo footer" />
        </div>

        <div class="footer-nav">
          <div class="footer-nav_navlinks">
            <h3>Navigation</h3>
            <a href="#">Home</a>
            <a href="#">Products</a>
            <a href="#">Profile</a>
            <a href="#">Contact</a>
          </div>
          <div class="footer-nav_navlinks">
            <h3>About Us</h3>
            <a href="#">Our Story</a>
            <a href="#">Designers</a>
            <a href="#">Press</a>
            <a href="#">Sustainability</a>
          </div>
          <div class="footer-nav_navlinks">
            <h3>Support</h3>
            <a href="#">FAQs</a>
            <a href="#">Care gide</a>
            <a href="#">Info</a>
            <a href="#">Documentation</a>
          </div>
          <div class="footer-nav_navlinks">
            <h3>Contact Us</h3>
            <p>+12-234-386</p>
            <p>+23-567-386</p>
          </div>
        </div>
      </div>
    </footer>
    <div class="footer-footer">
      <p class="footer-copyright">&copy; 2022 All Rights Reserved</p>
      <div class="privacy_terms_discl">
        <a href="#">Privacy</a>
        <a href="#" class="terms">Terms and Conditions</a>
        <a href="#">Disclaimer</a>
      </div>
    </div>
  </body>
</html>
