<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Modal</title>
    <link rel="stylesheet" href="../static/css/modal.css" />
    <script defer src="../static/scripts/modal.js"></script>
  </head>
  <body>
    <section>
      <button class="button open-button">open modal</button>
      <dialog class="modal" id="modal">
        <button class="close close-button">
          <span class="top"></span>
          <span class="bottom"></span>
        </button>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          Reprehenderit eveniet veniam, culpa et assumenda quia pariatur
          consectetur consequuntur, repudiandae, excepturi ipsam natus officiis
          magnam neque sed voluptas consequatur sunt. Alias quis repellendus
          earum quas sunt itaque possimus dolore dolorum odio sint architecto a
          eaque porro natus laborum, dolores voluptate nisi!
        </p>
      </dialog>
    </section>
  </body>
</html>
