<!DOCTYPE html>
{%load static%}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/navbar.css" />
    
    <script defer src="../static//scripts/navbar.js"></script>
    <title>Navbar</title>
  </head>
  <body>
    <nav>
      <div class="logo">
        <img src="../static/images/Frame 9.png" alt="navbar logo" />
      </div>
      <ul class="nav-links" id="navLinks">
        <li><a href="#">Home</a></li>
        <li><a href="#">About Us</a></li>
        <li><a href="#">FAQs</a></li>
        <li><a href="#">Contact Us</a></li>
      </ul>
      <div class="buttons" id="btn">
        <a href="#signup" class="buttons-signup">Sign Up</a>
        <a href="#login" class="buttons-login">Log In</a>
      </div>
      <!-- Open menu button -->
      <button class="hamburger open" id="hamburger_openMenu">
        <span class="top"></span>
        <span class="middle"></span>
        <span class="down"></span>
      </button>
      <!-- Close menu button -->
      <button class="hamburger close" id="hamburger_closeMenu">
        <span class="top"></span>
        <span class="middle"></span>
        <span class="down"></span>
      </button>
    </nav>
      {%block follow%}
     {%endblock%}
  
  </body>
</html>
