<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verification 1</title>
    <link rel="stylesheet" href="verification.css">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@400;700&family=Space+Grotesk:wght@400;500&display=swap" rel="stylesheet">
</head>
<body>
    <div class="logo-cont">
        <div class="img-cont">
            <img src="/debtors-images/Logo_object_frame.png" alt="logo">
        </div>
        <div class="debtors">
            <h1 class="debtors">My Debtors</h1>
        </div>
    </div> 
    <h1>Add Your Email</h1>
    <p>Hi,Gracewell Academy! Use the link below to verify your Email and start enjoying our offers</p>
    <form action="/verification2/verification2.html">
        <fieldset>
            <label for="mail">Email <input type="email" name="email" id="mail"  required></label>
            <p>Question?Email us at <a href="#">Feedback@mydebtors.com</a></p>
        </fieldset>
    </form>

</body>
</html>