<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>verification3</title>
    <link rel="stylesheet" href="verification3.css">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@400;700&family=Space+Grotesk:wght@400;500&display=swap" rel="stylesheet">
</head>
<body>
    <div class="logo-cont">
        <div class="img-cont">
            <img src="/debtors-images/Logo_object_frame.png" alt="logo" id="logo">
        </div>
        <div class="debtors">
            <h1 class="debtors">My Debtors</h1>
        </div>
    </div> 
    <div class="img-wrapper">
        <img src="/debtors-images/Frame 34565.png" alt="A man standing">
    </div>
    <form action="#">    
        <input type="email" name="email" id="mail" placeholder="Verified" required>    </form>
    </form>
</body>
</html>