body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Space Grotesk', sans-serif;
   
}

.debtors-img{
    height:35px;
}
.logo{
    margin-top: 13px;
     width:50px;
}
.home, .contact, .faq, .about{
    margin-top: 30px;
}
input{
    width:300px;
    height:30px;
    border-radius: 10px;
    border: 1px solid rgba(39, 70, 144, 0.86);
    color:white;
}
input:hover{
    background-color: rgba(39, 70, 144, 0.86);
    color:white;
}
a{
    text-decoration: none;
    color:rgba(58, 58, 58, 1);
}
button{
    width:70px;
    height: 20px;
    margin-top: 30px;
    border-radius: 5px;
    height: 30px;
    width: 120px;
    border:none;
    color: white;
    background-color: rgba(39, 70, 144, 1);
}
button:hover{
    border-radius: 5px;
    background-color: rgba(39, 70, 144, 1) ;
}
nav{
    display:flex;
    justify-content: space-around;
}
.question{
    color:red;
}
section{
    padding-left: 30px;
    margin-bottom: 60px;
}
.debtor-img{
    margin-top: 80px;
    margin-left:0px;
}
.logo-footer1{
  margin-top: 80px;
}
.logo-wrapper1{
    position: relative;
    left:65px
}
.logo-wrapper2{
    position: absolute;
    left:280px;
    top:370px;

}
footer{
    display:flex;
    justify-content: space-around;
    background-color: rgba(39, 70, 144, 1);
    color:white;
    padding-bottom: 120px;
}
.footer2{
    display:flex;
    justify-content:flex-start;
    flex-direction: row;
    background-color:  rgba(39, 70, 144, 1);
    color:white;
    padding-bottom: 70px;
}
.right{
    margin: 7px 780px 0 5px;

}
.disclaimer{
    margin-top: 7px;
    margin-left:10px;
}
.terms{
    margin-left:10px;
}
.horizon{
    background-color:white;
    margin: 0;
}
.vector{
   margin-left: -45px;
   margin-bottom: -10px;
   width:20px;
}
@media only screen and (min-width:375px) and (max-width:424px) {
    nav{
        display:inline-block;
        justify-content: space-around;
        text-align: center;
    } 
    button{
        margin-left: 30px;
        margin-bottom: 20px;
    }
    .logo-wrapper1, .logo-wrapper2, .debtor1-wrapper{
        display: none;
    }
    input{
        width:200px;
        height:20px;
        border-radius: 10px;
        border: 1px solid rgba(39, 70, 144, 0.86);
        color:white;
    }
    footer{
        display:flex;
        justify-content: space-around;
        flex-wrap:wrap;
        background-color: rgba(39, 70, 144, 1);
        color:white;
        font-size:10px;
        padding:0 2px;
    }
    .footer2{
        display:flex;
        justify-content:center;
        flex-direction: row;
        background-color:  rgba(39, 70, 144, 1);
        color:white;
        padding: 0 5px 70px;
    
    }
    .right{
        margin:0;
    
    }
    button:hover{
        border-radius: 5px;
        background-color: rgba(39, 70, 144, 1) ;
    }
    input:hover{
        background-color: rgba(39, 70, 144, 0.86);
        color:white;
    }
    .logo{
        margin-left: 5px;
    }
    .disclaimer{
        margin-top: 7px;
        margin-left:5px;
    }
    .terms{
        margin-left:10px;
    }
    .vector{
        margin-left: -35px;
        margin-bottom: -5px;
        width:20px;
     }
    .vertial-line{
        display: none;
    }
}
@media only screen and (min-width:425px) and (max-width:767px) {
        nav{
            display:inline-block;
            justify-content: space-around;
            text-align: center;
        } 
        button{
            margin-left: 30px;
            margin-bottom: 20px;
        }
        .logo-wrapper1, .logo-wrapper2, .debtor1-wrapper{
            display: none;
        }
        button:hover{
            border-radius: 5px;
            background-color: rgba(39, 70, 144, 1) ;
        }
        input:hover{
            background-color: rgba(39, 70, 144, 0.86);
            color:white;
        }
        .logo{
            margin-left: 10px;
        }
        footer{
            display:flex;
            justify-content: space-around;
            flex-wrap:wrap;
            background-color: rgba(39, 70, 144, 1);
            color:white;
            font-size:10px;
            padding:0 2px;
        }
        .footer2{
            display:flex;
            justify-content:center;
            flex-direction: row;
            background-color:  rgba(39, 70, 144, 1);
            color:white;
            padding: 0 5px 70px;
        
        }
        .right{
            margin:0;
        }
        .vertial-line{
            display: none;
        }   
}
@media only screen and (min-width:768px) and (max-width:1023px) {
    footer{
        display:flex;
        justify-content: space-around;
        background-color: rgba(39, 70, 144, 1);
        color:white;
        padding-bottom: 120px;
    }
    .footer2{
        display:flex;
        justify-content:flex-start;
        flex-direction: row;
        background-color:  rgba(39, 70, 144, 1);
        color:white;
        padding-bottom: 70px;
    }
    button:hover{
        border-radius: 5px;
        background-color: rgba(39, 70, 144, 1) ;
    }
    input:hover{
        background-color: rgba(39, 70, 144, 0.86);
        color:white;
    }
    .logo-footer1{
        margin-top: 80px;
      }
    .logo-wrapper1{
        position: relative;
        left:15px
      }
    .logo-wrapper2{
        position: absolute;
        left:32px;
        top:370px;
      
      }
    .right{
        margin-right:290px;
    }
    .disclaimer{
        margin-top: 7px;
        margin-left:10px;
    }
    .terms{
        margin-left:10px;
    }
    
}
@media only screen and (min-width:1024px) and (max-width:1439px) {
    .logo-footer1{
        margin-top: 80px;
      }
      .logo-wrapper1{
          position: relative;
          left:55px
      }
      .logo-wrapper2{
          position: absolute;
          left:94px;
          top:370px;
      }
    .right{
        margin-right:550px;
    
    }
    .disclaimer{
        margin-top: 7px;
        margin-left:10px;
    }
    .terms{
        margin-left:10px;
    }
    button:hover{
        border-radius: 5px;
        background-color: rgba(39, 70, 144, 1) ;
    }
    input:hover{
        background-color: rgba(39, 70, 144, 0.86);
        color:white;
    }
    
}
@media only screen and (min-width:1440px) and (max-width:2440px) {
    .logo-footer1{
        margin-top: 80px;
      }
    .logo-wrapper1{
        position: relative;
        left:65px;
      }
    .logo-wrapper2{
        position: absolute;
        left:200px;
        top:370px;
      }
    .right{
        margin-right:950px;
    
    }
    .disclaimer{
        margin-top: 7px;
        margin-left:10px;
    }
    .terms{
        margin-left:10px;
    }
    button:hover{
        border-radius: 5px;
        background-color: rgba(39, 70, 144, 1) ;
    }
    input:hover{
        background-color: rgba(39, 70, 144, 0.86);
        color:white;
    }
    
}